<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141456829946-9n82j4ja3fvk9oqdsrukgr34irr4h8k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141456829946-9n82j4ja3fvk9oqdsrukgr34irr4h8k1</string>
	<key>API_KEY</key>
	<string>AIzaSyDQZ2DmVpZ1GPvE9qYHoXjBBN9U1M9MiY4</string>
	<key>GCM_SENDER_ID</key>
	<string>141456829946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cntt.News</string>
	<key>PROJECT_ID</key>
	<string>news-8eaf0</string>
	<key>STORAGE_BUCKET</key>
	<string>news-8eaf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141456829946:ios:2d31419f1ab80a53cb8843</string>
</dict>
</plist>